/* 폰트 */
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@600&display=swap");
$font-title: "NanumSquare", sans-serif;
$font-sub-title: "Kumbh Sans", sans-serif;
$font-content: "Noto Sans KR", sans-serif;

/* Color */
$point-color: #1e7ce1;
