@import "variable";

* {
  letter-spacing: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-content;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.285;
  color: #333;
  background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
}

button {
  border: 0;
  background-color: transparent;
}

/* 공통스타일
========================================================================== */
.logo {
  color: #fff;
  padding: 0.6rem 1.4rem;
  border: 3px solid #fff;
  border-radius: 0.6rem;
  line-height: normal;
  font-family: "NanumSquare", sans-serif;
  font-size: 2rem;
}
.section {
  &__title {
    margin-bottom: 2rem;
    line-height: 1.8;
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    &--point {
      color: $point-color;
    }
  }
}
.content {
  position: relative;
  max-width: 160rem;
  margin: 0 auto;
  height: 100%;
}
.inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 6rem;
}
.pg-wrapper,
.pg-container,
.pg-page {
  width: 100% !important;
  padding: 0 !important;
}

.deco {
  display: inline-block;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #e4e4e4;
  opacity: 0.1;
  position: absolute;
  &.deco-1 {
    left: -425px;
    top: -500px;
    animation: deco1 6s linear infinite;
  }
  &.deco-2 {
    right: -25px;
    bottom: -500px;
    animation: deco2 6s linear infinite;
  }
  &.deco-3 {
    right: -400px;
    bottom: -300px;
    animation: deco3 7s linear infinite;
  }
}

/* 네비게이션
========================================================================== */
nav {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    li {
      display: block;
      width: 24px;
      height: 24px;
      margin: 7px;
      position: relative;
      a {
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
        &:focus-visible {
          border: 2px solid;
          border-radius: 0.7rem;
        }
        &.active span {
          background: $point-color;
          position: absolute;
          height: 16px;
          width: 16px;
          margin: -10px 0 0 -10px;
          border-radius: 100%;
        }

        span {
          border: 1px solid #fff;
          border-radius: 50%;
          position: absolute;
          z-index: 1;
          height: 12px;
          width: 12px;
          background: #d1d1d1;
          left: 50%;
          top: 50%;
          margin: -8px 0 0 -8px;
          transition: all 0.15s ease-in-out;
        }
      }
    }
  }
}
/* MAIN
========================================================================== */
.main-visual {
  height: 100vh;
  position: relative;
  color: #fff;
  background-color: $point-color;
  overflow: hidden;
  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6rem;
    line-height: 2;
    font-family: $font-title;
    font-size: 7.2rem;
    font-weight: 600;
  }
}

/* About
========================================================================== */
.about {
  &__intro {
    display: flex;
    margin-bottom: 7rem;
    padding-left: 5rem;
    border-left: 6px solid $point-color;
    .section__title {
      margin-bottom: 0;
      text-align: left;
    }
  }
  &__content {
    display: flex;
    .skill {
      width: 50%;
      &__content {
        margin-bottom: 3rem;
      }
      &__title {
        position: relative;
        margin-bottom: 3rem;
        font-family: $font-sub-title;
        font-size: 2.7rem;
        &::after {
          content: "";
          display: block;
          width: 160px;
          height: 13px;
          background-color: rgba(30, 124, 225, 0.1);
          position: absolute;
          bottom: 0;
          left: -5px;
        }
      }
      &__sub-title {
        margin-bottom: 1rem;
        line-height: normal;
        font-weight: 500;
        font-size: 2rem;
        &--date {
          font-size: 1.4rem;
          color: #b4b4b4;
          margin-left: 0.4rem;
          font-weight: 300;
        }
      }
    }
    .skill-list {
      &__item {
        margin-bottom: 2rem;
        line-height: 2;
      }
    }
  }
}

/* Portfolio
========================================================================== */
.portfolio {
  background-color: #f7f7f7;
  &__content {
    padding: 6rem 0;
    display: flex;
    align-items: center;
    text-align: center;
  }
  &__img {
    width: 50%;
    max-width: 90rem;
    margin: 0 auto;
  }
  &__text {
    width: 50%;
    text-align: left;
    padding-left: 2rem;
  }
  &__name {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  &__info {
    font-size: 2rem;
    margin-bottom: 2rem;
    &--link {
      padding: 0.4rem 1rem;
      margin: 0 0.2rem;
      background-color: #137ef10f;
      color: #1e7ce1;
      border-radius: 0.5rem;
      font-weight: 400;
      font-size: 1.6rem;
    }
  }
  &__device {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: $point-color;
  }
  &__btn-wrap {
    display: flex;
    align-items: center;
    margin-top: 8rem;
  }
  &__btn {
    margin-right: 2rem;
    @include btn-default;
    @include btn-white-point;
    &--point {
      @include btn-point;
    }
  }
}

/* Link
========================================================================== */
.link {
  &__content {
    margin: 10rem 0;
  }
  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -3rem;
  }
  &__list-item {
    flex: 1;
    padding: 0 3rem;
    border-radius: 0.5rem;
    background-color: #fff;
    a {
      display: inline-block;
      width: 100%;
      border: 1px solid #ddd;
      overflow: hidden;
    }
  }
  &__text {
    padding: 3rem;
    &--title {
      margin-bottom: 1.4rem;
      font-size: 2rem;
      font-weight: 600;
    }
  }
  &__img {
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
    &--cosmetic {
      background-image: url("../images/cosmetic_logo.png");
      background-size: 70%;
      background-color: #1d7ce1;
    }
    &--blog {
      background-image: url("../images/icon_tstory.png");
      background-color: #ef591b;
    }
    &--github {
      background-image: url("../images/icon_github.png");
      background-color: #201f27;
    }
  }
}

/* HOW TO WORK
========================================================================== */
.how-work {
  background-color: #f7f7f7;
  &__content {
    margin: 5rem 0;
  }
  &__list {
    max-width: 100rem;
    margin: 0 auto;
  }
  &__list-item {
    padding: 3rem 1rem;
    font-size: 2.4rem;
    line-height: 1.8;
    &--point {
      margin-right: 1rem;
      color: $point-color;
    }
  }
}

/* CONTACT
========================================================================== */
.contact {
  height: 100vh;
  background-color: $point-color;
  color: #fff;
  overflow: hidden;
  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    line-height: 2;
  }
  &__text {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 2rem;
    font-weight: 400;
  }
}

/* 애니메이션 효과
========================================================================== */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes deco1 {
  0% {
    left: -425px;
    top: -500px;
  }
  50% {
    left: -500px;
    top: -450px;
  }
  100% {
    left: -425px;
    top: -500px;
  }
}
@keyframes deco2 {
  0% {
    right: -25px;
    bottom: -500px;
  }
  50% {
    right: -100px;
    bottom: -450px;
  }
  100% {
    right: -25px;
    bottom: -500px;
  }
}
@keyframes deco3 {
  0% {
    right: -400px;
    bottom: -300px;
  }
  50% {
    right: -450px;
    bottom: -400px;
  }
  100% {
    right: -400px;
    bottom: -300px;
  }
}

.animated {
  .fade-in {
    animation: fadeIn 0.8s ease-in-out;
  }
}

/* 반응형
========================================================================== */
@media (hover: hover) {
  nav {
    ul {
      li {
        &:hover a span {
          height: 16px;
          width: 16px;
          margin: -10px 0 0 -10px;
        }
      }
    }
  }
  .portfolio {
    &__btn {
      &:hover {
        @include btn-white-point-hover;
      }
      &--point {
        &:hover {
          @include btn-point-hover;
        }
      }
    }
  }
  .link {
    &__list-item {
      a {
        &:hover {
          box-shadow: -1px 7px 14px 4px rgb(0 0 0 / 14%);
          transition: all 0.15s ease-in-out;
          .link__text--title {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Desctop
@media (max-width: 1279px) {
  nav {
    right: 1.2rem;
  }
  .main-visual {
    &__title {
      font-size: 4.5rem;
    }
  }
  .section {
    &__title {
      margin-bottom: 4rem;
    }
  }
  .about {
    &__intro {
      margin-bottom: 4rem;
      display: block;
      padding-left: 0;
      border-left: 0;
      .section__title {
        font-size: 4.8rem;
      }
    }
  }
  .link {
    &__content {
      margin: 2rem 0;
    }
  }
  .how-work {
    &__content {
      margin: 0;
    }
  }
}

// Tablet
@media (max-width: 1023px) {
  nav {
    right: 0.6rem;
  }
  .main-visual {
    &__title {
      left: 3rem;
    }
  }
  .inner {
    padding: 0 3rem;
  }
  .section {
    &__title {
      margin-bottom: 2rem;
      font-size: 4.5rem;
    }
  }
  .about {
    &__intro {
      .section__title {
        font-size: 4.5rem;
        margin-bottom: 6rem;
      }
    }
  }
  .portfolio {
    &__content {
      flex-direction: column;
      padding: 3rem 0 0 0;
    }
    &__img {
      width: 100%;
      max-width: 60rem;
    }
    &__text {
      width: 100%;
      padding: 2rem 0 0 0;
      text-align: center;
    }
    &__btn-wrap {
      margin-top: 5rem;
      justify-content: center;
    }
  }
  .link {
    &__content {
      margin: 4rem 0 0 0;
    }
    &__list {
      margin: 0;
    }
    &__list-item {
      flex: 0 0 50%;
      padding: 1rem 1rem 3rem 1rem;
    }
  }
  .how-work {
    &__content {
      margin: 5rem 0;
    }
  }
}

// Mobile
@media (max-width: 767px) {
  #container {
    font-size: 1.4rem;
  }
  .inner {
    padding: 0 2rem;
  }
  .section {
    &__title {
      font-size: 3rem;
    }
  }
  .main-visual {
    &__title {
      left: 2rem;
      right: 2rem;
      font-size: 4rem;
    }
  }
  .about {
    &__intro {
      .section__title {
        margin-bottom: 2rem;
        font-size: 3rem;
        text-align: center;
      }
    }
    &__content {
      flex-wrap: wrap;
      text-align: center;
      .skill {
        width: 100%;
        &__title {
          font-size: 2.4rem;
          &::after {
            left: 50%;
            margin-left: -80px;
          }
        }
        &__sub-title {
          font-size: 1.8rem;
        }
      }
    }
  }

  .portfolio {
    &__device {
      font-size: 1.4rem;
    }
    &__name {
      font-size: 2.8rem;
    }
    &__info {
      font-size: 1.4rem;
      &--link {
        padding: 0.3rem 0.6rem;
        margin: 0 0.1rem;
        font-size: 1.3rem;
      }
    }
    &__btn-wrap {
      margin-top: 4rem;
      flex-wrap: wrap;
    }
    &__btn {
      width: 100%;
      margin: 1rem 0 0 0;
    }
  }

  .link {
    &__list-item {
      flex: 0 0 100%;
    }
    &__img {
      height: 17rem;
    }
    &__text {
      padding: 1.4rem;
      &--title {
        font-size: 1.6rem;
      }
    }
  }

  .how-work {
    &__list-item {
      font-size: 1.8rem;
      padding: 2rem 0;
      word-break: break-all;
    }
  }

  .contact {
    &__text {
      font-size: 3rem;
    }
  }
}

/* 터치 기기 & 모바일 사이즈 CSS
========================================================================== */
.not-pageable {
  .inner {
    position: relative;
    top: 0;
    transform: none;
    padding: 12rem 3rem;
  }
}
@media (max-width: 767px) {
  .not-pageable .inner {
    padding: 6rem 2rem;
  }
}

/* 웹접근성
========================================================================== */
/* 스크린리더에서만 읽혀지도록 숨김처리 */
.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* 접근성 네비게이션 */
#skipNav {
  position: relative;
  z-index: 9999;
}
#skipNav a {
  position: absolute;
  top: -200px;
  left: 0;
  width: 160px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #dedede;
  background-color: #333;
  color: #fff;
}
#skipNav a:focus,
#skipNav a:active {
  top: 0;
}
