@charset "UTF-8";
/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@600;900&family=Montserrat:wght@600&display=swap");
@font-face {
  font-family: "ONE-Mobile-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Color */
/* Button */
* {
  letter-spacing: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.285;
  color: #333;
  background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
}

button {
  border: 0;
  background-color: transparent;
}

/* 공통스타일
========================================================================== */
.logo {
  color: #fff;
  padding: 0.6rem 1.4rem;
  border: 3px solid #fff;
  border-radius: 0.6rem;
  line-height: normal;
  font-family: "NanumSquare", sans-serif;
  font-size: 2rem;
}

.section__title {
  margin-bottom: 2rem;
  line-height: 1.8;
  font-family: "ONE-Mobile-Title", sans-serif;
  font-size: 5rem;
  text-align: center;
  font-weight: normal;
  background: linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  background: -webkit-linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  background: -moz-linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  background: -o-linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  clip-path: inset(1px);
}
.section__title--point {
  color: #006aea;
}

.content {
  position: relative;
  max-width: 160rem;
  margin: 0 auto;
  height: 100%;
}

.inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 6rem;
}

.pg-wrapper,
.pg-container,
.pg-page {
  width: 100% !important;
  padding: 0 !important;
}

.deco {
  display: inline-block;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #e4e4e4;
  opacity: 0.1;
  position: absolute;
}
.deco.deco-1 {
  left: -425px;
  top: -500px;
  animation: deco1 6s linear infinite;
}
.deco.deco-2 {
  right: -25px;
  bottom: -500px;
  animation: deco2 6s linear infinite;
}
.deco.deco-3 {
  right: -400px;
  bottom: -300px;
  animation: deco3 7s linear infinite;
}

/* 네비게이션
========================================================================== */
nav {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  display: block;
  width: 24px;
  height: 24px;
  margin: 7px;
  position: relative;
}
nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
nav ul li a:focus-visible {
  border: 2px solid;
  border-radius: 0.7rem;
}
nav ul li a.active span {
  background: #006aea;
  position: absolute;
  height: 16px;
  width: 16px;
  margin: -10px 0 0 -10px;
  border-radius: 100%;
}
nav ul li a span {
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 12px;
  width: 12px;
  background: #d1d1d1;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  transition: all 0.15s ease-in-out;
}

/* MAIN
========================================================================== */
.main-visual {
  height: 100vh;
  position: relative;
  background: linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  background: -webkit-linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  background: -moz-linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  background: -o-linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  color: #fff;
  overflow: hidden;
}
.main-visual__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6rem;
  right: 6rem;
  line-height: 2;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 11rem;
  font-weight: 900;
  max-width: 130rem;
}
.main-visual__email {
  position: absolute;
  top: 3rem;
  right: 2%;
  color: #fff;
  font-size: 1.4rem;
}

/* About
========================================================================== */
.about__intro {
  display: flex;
  margin-bottom: 7rem;
  padding-left: 5rem;
  border-left: 6px solid #006aea;
}
.about__intro .section__title {
  margin-bottom: 0;
  text-align: left;
}
.about__content {
  display: flex;
}
.about__content .skill {
  width: 50%;
}
.about__content .skill__content {
  margin-bottom: 3rem;
}
.about__content .skill__title {
  position: relative;
  margin-bottom: 3rem;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 2.7rem;
}
.about__content .skill__title::after {
  content: "";
  display: block;
  width: 160px;
  height: 13px;
  background-color: rgba(30, 124, 225, 0.1);
  position: absolute;
  bottom: 0;
  left: -5px;
}
.about__content .skill__sub-title {
  margin-bottom: 1rem;
  line-height: normal;
  font-weight: 500;
  font-size: 2rem;
}
.about__content .skill__sub-title--date {
  font-size: 1.4rem;
  color: #b4b4b4;
  margin-left: 0.4rem;
  font-weight: 300;
}
.about__content .skill-list__item {
  margin-bottom: 2rem;
  line-height: 2;
}

/* Portfolio
========================================================================== */
.portfolio__content {
  padding: 6rem 0;
  display: flex;
  align-items: center;
  text-align: center;
}
.portfolio__slide-wrap {
  width: 100%;
}
.portfolio__slide-item {
  padding: 0 3rem;
  display: flex;
  align-items: center;
}
.portfolio__img-wrap {
  margin: 0 auto;
  width: 50%;
  max-width: 60rem;
}
.portfolio__img {
  width: 100%;
  height: auto;
}
.portfolio__text {
  width: 50%;
  text-align: left;
  padding-left: 2rem;
}
.portfolio__name {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.portfolio__info {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.portfolio__info--link {
  padding: 0.4rem 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: underline;
  color: #006aea;
}
.portfolio__device {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #888;
}
.portfolio__btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 8rem;
}
.portfolio__btn {
  margin-right: 2rem;
  display: inline-block;
  width: 23rem;
  height: 5.2rem;
  padding: 1.4rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  text-align: center;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  border: 1px solid #006aea;
  color: #006aea;
  background-color: #fff;
}
.portfolio__btn:hover {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}
.portfolio__btn--point {
  border: 1px solid #006aea;
  background-color: #006aea;
  color: #fff;
}

/* Link
========================================================================== */
.link__content {
  margin: 10rem 0;
}
.link__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -3rem;
}
.link__list-item {
  flex: 1;
  padding: 0 3rem;
  max-width: 50rem;
  border-radius: 0.5rem;
  background-color: #fff;
}
.link__list-item a {
  display: inline-block;
  width: 100%;
  border: 1px solid #ddd;
  overflow: hidden;
}
.link__text {
  padding: 3rem;
}
.link__text--title {
  margin-bottom: 1.4rem;
  font-size: 2rem;
  font-weight: 600;
}
.link__img {
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
}
.link__img--cosmetic {
  background-image: url("../images/cosmetic_logo.png");
  background-size: 70%;
  background-color: #1d7ce1;
}
.link__img--blog {
  background-image: url("../images/icon_tstory.png");
  background-color: #ef591b;
}
.link__img--github {
  background-image: url("../images/icon_github.png");
  background-color: #201f27;
}

/* HOW TO WORK
========================================================================== */
.how-work__content {
  margin: 5rem 0;
}
.how-work__list {
  max-width: 100rem;
  margin: 0 auto;
}
.how-work__list-item {
  padding: 3rem 1rem;
  font-size: 2.4rem;
  line-height: 1.8;
}
.how-work__list-item--point {
  margin-right: 1rem;
  color: #006aea;
}

/* CONTACT
========================================================================== */
.contact {
  height: 100vh;
  background: linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  background: -webkit-linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  background: -moz-linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  background: -o-linear-gradient(307deg, #52a1ff 0%, #3592ff 30%, #0006d5 100%);
  color: #fff;
  overflow: hidden;
}
.contact__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  line-height: 1.2;
}
.contact__text {
  margin-bottom: 5rem;
  text-align: center;
  font-family: "ONE-Mobile-Title", sans-serif;
  font-size: 4rem;
  font-weight: 400;
}
.contact__info {
  display: flex;
}
.contact__info--text {
  font-size: 3rem;
}
.contact__info--btn {
  display: inline-block;
  width: 23rem;
  height: 5.2rem;
  padding: 1.4rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  text-align: center;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 41rem;
  height: auto;
  font-size: 3.6rem;
  font-weight: 500;
  border-width: 3px;
}
.contact__info--btn:hover {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

/* 애니메이션 효과
========================================================================== */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes deco1 {
  0% {
    left: -425px;
    top: -500px;
  }
  50% {
    left: -500px;
    top: -450px;
  }
  100% {
    left: -425px;
    top: -500px;
  }
}
@keyframes deco2 {
  0% {
    right: -25px;
    bottom: -500px;
  }
  50% {
    right: -100px;
    bottom: -450px;
  }
  100% {
    right: -25px;
    bottom: -500px;
  }
}
@keyframes deco3 {
  0% {
    right: -400px;
    bottom: -300px;
  }
  50% {
    right: -450px;
    bottom: -400px;
  }
  100% {
    right: -400px;
    bottom: -300px;
  }
}
.animated .fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* 반응형
========================================================================== */
@media (hover: hover) {
  nav ul li:hover a span {
    height: 16px;
    width: 16px;
    margin: -10px 0 0 -10px;
  }
  .portfolio__btn:hover {
    box-shadow: inset 0 0 0px 2px #006aea;
  }
  .portfolio__btn--point:hover {
    background-color: #005ed0;
    border-color: #005ed0;
    color: #fff;
    box-shadow: none;
  }
  .portfolio__info--link:hover {
    color: #ff8e00;
  }
  .link__list-item a:hover {
    box-shadow: -1px 7px 14px 4px rgba(0, 0, 0, 0.14);
    transition: all 0.15s ease-in-out;
  }
  .link__list-item a:hover .link__text--title {
    text-decoration: underline;
  }
  .contact__info--btn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #006aea;
  }
}
@media (max-width: 1279px) {
  nav {
    right: 1.2rem;
  }
  .main-visual__title {
    font-size: 9.2rem;
  }
  .section__title {
    margin-bottom: 4rem;
  }
  .about__intro {
    margin-bottom: 4rem;
    display: block;
    padding-left: 0;
    border-left: 0;
  }
  .about__intro .section__title {
    font-size: 4.8rem;
  }
  .link__content {
    margin: 2rem 0;
  }
  .how-work__content {
    margin: 0;
  }
}
@media (max-width: 1023px) {
  nav {
    right: 0.6rem;
  }
  .main-visual__title {
    left: 3rem;
    right: 3rem;
  }
  .inner {
    padding: 0 3rem;
  }
  .section__title {
    margin-bottom: 2rem;
    font-size: 4.5rem;
  }
  .about__intro .section__title {
    font-size: 4.5rem;
    margin-bottom: 6rem;
  }
  .portfolio__content {
    padding: 3rem 0 0 0;
  }
  .portfolio__slide-item {
    flex-direction: column;
  }
  .portfolio__img-wrap {
    width: 100%;
  }
  .portfolio__text {
    width: 100%;
    padding: 2rem 0 0 0;
    text-align: center;
  }
  .portfolio__btn-wrap {
    margin-top: 5rem;
    justify-content: center;
  }
  .link__content {
    margin: 4rem 0 0 0;
  }
  .link__list {
    margin: 0;
  }
  .link__list-item {
    flex: 0 0 50%;
    padding: 1rem 1rem 3rem 1rem;
  }
  .how-work__content {
    margin: 5rem 0;
  }
}
@media (max-width: 767px) {
  #container {
    font-size: 1.4rem;
  }
  .inner {
    padding: 0 2rem;
  }
  .section__title {
    font-size: 3rem;
  }
  .main-visual__email {
    top: 2rem;
    right: 2rem;
  }
  .main-visual__title {
    left: 2rem;
    right: 2rem;
    font-size: 4rem;
  }
  .about__intro .section__title {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
  }
  .about__content {
    flex-wrap: wrap;
    text-align: center;
  }
  .about__content .skill {
    width: 100%;
  }
  .about__content .skill__title {
    font-size: 2.4rem;
  }
  .about__content .skill__title::after {
    left: 50%;
    margin-left: -80px;
  }
  .about__content .skill__sub-title {
    font-size: 1.8rem;
  }
  .portfolio__device {
    font-size: 1.4rem;
  }
  .portfolio__name {
    font-size: 2.8rem;
  }
  .portfolio__info {
    font-size: 1.4rem;
  }
  .portfolio__info--link {
    padding: 0.3rem 0.6rem;
    font-size: 1.3rem;
  }
  .portfolio__btn-wrap {
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  .portfolio__btn {
    width: 100%;
    max-width: 50rem;
    margin: 1rem 0 0 0;
  }
  .portfolio .swiper-button-next:after,
  .portfolio .swiper-button-prev:after {
    font-size: 3rem;
  }
  .portfolio .swiper-button-next {
    right: 0;
  }
  .portfolio .swiper-button-prev {
    left: 0;
  }
  .link__list-item {
    flex: 0 0 100%;
  }
  .link__img {
    height: 17rem;
  }
  .link__text {
    padding: 1.4rem;
  }
  .link__text--title {
    font-size: 1.6rem;
  }
  .how-work__list-item {
    font-size: 1.8rem;
    padding: 2rem 0;
    word-break: break-all;
  }
  .contact__content {
    left: 2rem;
    right: 2rem;
  }
  .contact__text {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  .contact__info--btn {
    width: 100%;
    font-size: 1.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 50rem;
  }
}
/* 터치 기기 & 모바일 사이즈 CSS
========================================================================== */
.not-pageable .inner {
  position: relative;
  top: 0;
  transform: none;
  padding: 12rem 3rem;
}
.not-pageable [data-aos=fade-in-aos] {
  opacity: 0;
}
.not-pageable [data-aos=fade-in-aos].aos-animate {
  opacity: 1;
  animation: fadeIn 0.7s ease-in-out;
}

@media (max-width: 767px) {
  .not-pageable .inner {
    padding: 6rem 2rem;
  }
}
/* 웹접근성
========================================================================== */
/* 스크린리더에서만 읽혀지도록 숨김처리 */
.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 접근성 네비게이션 */
#skipNav {
  position: relative;
  z-index: 9999;
}

#skipNav a {
  position: absolute;
  top: -200px;
  left: 0;
  width: 160px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #dedede;
  background-color: #333;
  color: #fff;
}

#skipNav a:focus,
#skipNav a:active {
  top: 0;
}