@charset "UTF-8";
/* 폰트 */
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@600&display=swap");
/* Color */
* {
  letter-spacing: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.285;
  color: #333;
  background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
}

button {
  border: 0;
  background-color: transparent;
}

/* 공통스타일
========================================================================== */
.logo {
  color: #fff;
  padding: 0.6rem 1.4rem;
  border: 3px solid #fff;
  border-radius: 0.6rem;
  line-height: normal;
  font-family: "NanumSquare", sans-serif;
  font-size: 2rem;
}

.content {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  height: 100%;
  padding: 10rem 2rem;
}

.inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.pg-wrapper,
.pg-container,
.pg-page {
  width: 100% !important;
  padding: 0 !important;
}

/* 헤더
========================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #1e7ce1;
}
.header__content {
  position: relative;
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb__list {
  display: flex;
}
.gnb__item a {
  position: relative;
  display: inline-block;
  padding: 1.6rem 3rem;
  color: #fff;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
}
.gnb__item.active ::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background: #fff;
}

/* MAIN
========================================================================== */
.main-visual {
  position: relative;
  color: #fff;
  background-color: #1e7ce1;
  overflow: hidden;
}
.main-visual__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  line-height: 2;
  font-family: "NanumSquare", sans-serif;
  font-size: 7.2rem;
  font-weight: 600;
  animation: titleFadeInUp 1s ease-in-out;
}
.main-visual__deco {
  display: inline-block;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #e4e4e4;
  opacity: 0.1;
  position: absolute;
}
.main-visual__deco.deco-1 {
  left: -425px;
  top: -500px;
  animation: deco1 6s linear infinite;
}
.main-visual__deco.deco-2 {
  right: -25px;
  bottom: -500px;
  animation: deco2 6s linear infinite;
}
.main-visual__deco.deco-3 {
  right: -400px;
  bottom: -300px;
  animation: deco3 7s linear infinite;
}

/* About
========================================================================== */
.about__intro {
  display: flex;
  margin-bottom: 7rem;
  padding-left: 5rem;
  border-left: 6px solid #1e7ce1;
}
.about__title {
  line-height: 1.8;
  font-size: 4.5rem;
  font-weight: 400;
}
.about__title--point {
  color: #1e7ce1;
}
.about__content {
  display: flex;
}
.about__content .skill {
  width: 50%;
}
.about__content .skill__content {
  margin-bottom: 3rem;
}
.about__content .skill__title {
  position: relative;
  margin-bottom: 3rem;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 2.7rem;
}
.about__content .skill__title::after {
  content: "";
  display: block;
  width: 160px;
  height: 13px;
  background-color: rgba(30, 124, 225, 0.1);
  position: absolute;
  bottom: 0;
  left: -5px;
}
.about__content .skill__sub-title {
  margin-bottom: 1rem;
  line-height: normal;
  font-weight: 500;
  font-size: 2rem;
}
.about__content .skill__sub-title--date {
  font-size: 1.4rem;
  color: #b4b4b4;
  margin-left: 0.4rem;
  font-weight: 300;
}
.about__content .skill-list__item {
  margin-bottom: 2rem;
  line-height: 2;
}

/* 애니메이션 효과
========================================================================== */
@keyframes titleFadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@keyframes deco1 {
  0% {
    left: -425px;
    top: -500px;
  }
  50% {
    left: -500px;
    top: -450px;
  }
  100% {
    left: -425px;
    top: -500px;
  }
}
@keyframes deco2 {
  0% {
    right: -25px;
    bottom: -500px;
  }
  50% {
    right: -100px;
    bottom: -450px;
  }
  100% {
    right: -25px;
    bottom: -500px;
  }
}
@keyframes deco3 {
  0% {
    right: -400px;
    bottom: -300px;
  }
  50% {
    right: -450px;
    bottom: -400px;
  }
  100% {
    right: -400px;
    bottom: -300px;
  }
}